RewriteEngine On
RewriteBase /CMS/CMS-Compo/
# Neaplikovat pravidla, pokud URL odpovídá fyzickému souboru
RewriteCond %{REQUEST_FILENAME} !-f
# Aplikovat pravidla, pokud URL odpovídá fyzické složce
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

