c3
<section class="pt-0">
    <div class="container">
        <!-- Title -->
        <div class="inner-container-small text-center mb-4 mb-sm-5">
            <h2 class="mb-4">Discover our competitive plans</h2>
            <p class="mb-0">Your agency's success deserves a pricing strategy that aligns with your goals. We offer a range of pricing plans crafted to meet your unique needs.</p>
        </div>

        <!-- Slider START -->
        <div class="swiper swiper-initialized swiper-horizontal swiper-backface-hidden" data-swiper-options="{
			&quot;loop&quot;: false,
			&quot;spaceBetween&quot;: 40,
			&quot;pagination&quot;:{
				&quot;el&quot;:&quot;.swiper-pagination&quot;
			},
			&quot;breakpoints&quot;: {
				&quot;576&quot;: {&quot;slidesPerView&quot;: 1}, 
				&quot;768&quot;: {&quot;slidesPerView&quot;: 2}, 
				&quot;992&quot;: {&quot;slidesPerView&quot;: 3}
			}}">

            <!-- Slider items -->
            <div class="swiper-wrapper" id="swiper-wrapper-0068ec8c5b077838" aria-live="off">
                <!-- Slider item -->
                <div class="swiper-slide swiper-slide-active" style="width: 396.667px; margin-right: 40px;" role="group" aria-label="1 / 3">
                    <!-- Pricing item -->
                    <div class="card card-body border rounded p-md-4">
                        <h6 class="mb-2">Basic Plan</h6>
                        <!-- Price -->
                        <div class="d-flex align-items-center">
                            <span class="h1 mb-0">$25</span>
                            <div class="ms-3">
                                <p class="heading-color mb-0">Per user</p>
                                <p class="heading-color mb-0">Per month</p>
                            </div>
                        </div>
                        <span>Basic feature for up to 10 users</span>

                        <!-- Buttons -->
                        <a href="https://mizzle.webestica.com/index-saas.html#" class="btn btn-dark mt-4">Get started</a>
                        <a href="https://mizzle.webestica.com/index-saas.html#" class="btn btn-outline-light">Chat to sales</a>

                        <hr class="my-4"> <!-- Divider -->

                        <h6 class="mb-0">Features</h6>
                        <span>Everything in basic plan</span>

                        <!-- List -->
                        <ul class="list-group list-group-borderless border-0 mb-0 mt-2">
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Access to basic feature</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Basic reporting and analytics</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Up to 10 individual users</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>20GB individual data each year</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Basic chat and email support</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Ongoing best practices and reviews</li>
                        </ul>
                    </div>
                </div>

                <!-- Slider item -->
                <div class="swiper-slide swiper-slide-next" style="width: 396.667px; margin-right: 40px;" role="group" aria-label="2 / 3">
                    <!-- Pricing item -->
                    <div class="card card-body border rounded p-md-4">
                        <h6 class="mb-2 text-primary">Business Plan</h6>
                        <!-- Price -->
                        <div class="d-flex align-items-center">
                            <span class="h1 mb-0">$50</span>
                            <div class="ms-3">
                                <p class="heading-color mb-0">Per user</p>
                                <p class="heading-color mb-0">Per month</p>
                            </div>
                        </div>
                        <span>Basic feature for up to 10 users</span>

                        <!-- Buttons -->
                        <a href="https://mizzle.webestica.com/index-saas.html#" class="btn btn-dark mt-4">Get started</a>
                        <a href="https://mizzle.webestica.com/index-saas.html#" class="btn btn-outline-light">Chat to sales</a>

                        <hr class="my-4"> <!-- Divider -->

                        <h6 class="mb-0">Features</h6>
                        <span>Everything in basic plan and</span>

                        <!-- List -->
                        <ul class="list-group list-group-borderless border-0 mb-0 mt-2">
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>200+ integrations</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Basic reporting and analytics</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Up to 10 individual users</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>40GB individual data each year</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Priority chat and email support</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Ongoing best practices and reviews</li>
                        </ul>
                    </div>
                </div>

                <!-- Slider item -->
                <div class="swiper-slide" role="group" aria-label="3 / 3" style="width: 396.667px; margin-right: 40px;">
                    <!-- Pricing item -->
                    <div class="card card-body border rounded p-md-4">
                        <h6 class="mb-2">Enterprise Plan</h6>
                        <!-- Price -->
                        <div class="d-flex align-items-center">
                            <span class="h1 mb-0">$85</span>
                            <div class="ms-3">
                                <p class="heading-color mb-0">Per user</p>
                                <p class="heading-color mb-0">Per month</p>
                            </div>
                        </div>
                        <span>Basic feature for up to 10 users</span>

                        <!-- Buttons -->
                        <a href="https://mizzle.webestica.com/index-saas.html#" class="btn btn-dark mt-4">Get started</a>
                        <a href="https://mizzle.webestica.com/index-saas.html#" class="btn btn-outline-light">Chat to sales</a>

                        <hr class="my-4"> <!-- Divider -->

                        <h6 class="mb-0">Features</h6>
                        <span>Everything in business and</span>

                        <!-- List -->
                        <ul class="list-group list-group-borderless border-0 mb-0 mt-2">
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Advanced custom field</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Audit log and data history</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Ultimate individual users</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>60GB individual data each year</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Basic chat and email support</li>
                            <li class="list-group-item d-flex mb-0"><i class="bi bi-check-circle-fill text-primary me-2"></i>Ongoing best practices and reviews</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Slider Pagination -->
            <div class="swiper-pagination swiper-pagination-primary position-relative mt-4 swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" aria-current="true"></span></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
    </div>
</section>
